@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  font-family: 'Questrial', sans-serif;
  transition-duration: .5s;
  color: gainsboro;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111111;
}

#textCanvas {
  display:none;
}

.wrap {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.top {
  padding: 20px;
  border-bottom: 1px solid white;
}

.wrap div {
  padding: 20px;
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

p {
  background-color:#ddd;
  border:1px solid #ccc;
}

input {
  border-radius: 20px;
  border: 0;
}

input#message {
  padding: 5px
}

canvas {
  align-self: flex-end;
  background-color: rgb(31, 31, 31);
  border-radius: 20px;
  margin-top: 20px;
}

.wrap div label:first-of-type {
  margin-top: 20px;
}